<div class="d-flex bd-highlight mb-3">
  <div class="p-2 bd-highlight">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/categories">Categories</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ isNew ? 'Add' : 'Edit' }} Category</li>
      </ol>
    </nav>
  </div>
  <div class="ms-auto p-2 bd-highlight" *ngIf="!isNew">
    <button class="btn btn-danger" (click)="deleteCategory()"><i class="bi bi-trash-fill"></i></button>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="categoryName"
          placeholder="Category Name"
          formControlName="name"
          [ngClass]="{ 'is-invalid': form.get('name')!.invalid && form.get('name')!.touched }"
        />
        <div id="nameAlert" class="form-text text-danger" *ngIf="form.get('name')!.invalid && form.get('name')!.touched">
          <span *ngIf="form.get('name')!.errors?.required">Category Name field should not be empty.</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="categoryImage" class="form-label">Select Image</label>
        <input class="form-control" type="file" id="categoryImage" [disabled]="form.disabled" (change)="onFileUpload($event)" />
      </div>
    </div>
    <div class="col-6">
      <img class="responsive-img" class="category-logo responsive-image" [src]="imagePreview" *ngIf="imagePreview">
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="form.invalid || form.disabled">Save Changes</button>
</form>
<app-positions-form></app-positions-form>
