<div *ngIf="categories$ | async as categories; else loader">
  <div class="row" *ngIf="categories.length !== 0; else noCategories">
    <div class="col-lg-4 col-md-6 col-sm-auto" *ngFor="let category of categories">
      <div class="card order-card" [routerLink]="['/orders', category.id]">
        <div class="d-flex justify-content-center">
          <div class="p-2">
            <img [src]="category.imageSource" class="card-img-top category-logo" [alt]="category.name" />
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">{{ category.name }}</h5>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noCategories>
    <p class="text-center">No Categories Created Yet.</p>
  </ng-template>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
